#projects {
  padding-inline: 6vw;
}

#project-image {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

#project-image:hover {
  -webkit-filter: none !important;
  filter: none !important;
}

.body-modal {
  overflow-y: hidden;
}

.modal-overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
