#contact {
  padding-inline: 6vw;
}

.contact-socials {
  width: 2rem;
  height: 2rem;
  margin: 2rem 1rem 0rem;
}
@media (min-width: 1250px) {
  .contact-socials {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0rem;
  }
}
