.right {
  transform: scale(0.8);
  opacity: 0.3;
  transition: 500ms;
}

.left {
  transform: scale(0.8);
  opacity: 0.3;
  transition: 500ms;
}

.stack-slider {
  transform: translateX(10px);
}
@media only screen and (min-width: 600px) {
  .stack-slider {
    transform: translateX(30px);
  }
}
