.banner {
  background-image: linear-gradient(to bottom, #a2a1a0 0%, #304352 100%);
  position: relative;
}

.banner-text h1 {
  margin: 0px;
}

.faCircleArrowDown {
  font-size: 3rem;
  color: pink;
}

#tsparticles {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
